@model ServiceStation.Web.Models.VehicleService;

<h1>@ViewData["PageTitle"]</h1>

<table class="table">
	<thead>
		<tr>
			<th>Service Name</th>
			<th>Service Description</th>
			<th>Service Price</th>
		</tr>
	</thead>
	<tr>
		<td>@Model.Title</td>
		<td>@Model.Description</td>
		<td>@Model.Cost</td>
	</tr>
</table>


